body {
  font-family: "PT Mono", monospace;
}

.container {
  display: block;
  margin: 50px auto;
  max-width: 60%;
}

.cityForm {
  margin-bottom: 20px;
}

.city {
  font-size: 30px;
  font-weight: bold;
}

.dayAndTime {
  color: #607d8b;
  font-size: 20px;
}

.icon {
  display: inline;
  margin: 0 auto;
  max-width: 80px;
}

.temperature {
  position: relative;
  top: 20px;
  font-size: 60px;
}

.unit {
  position: relative;
  font-size: 20px;
  top: -5px;
}

a {
  text-decoration: none;
}

.humidityWindSpeed {
  position: relative;
  font-size: 20px;
  top: 10px;
  color: #607d8b;
}

.date {
  color: #607d8b;
}

.temperatureOutput .active {
  color: #607d8b;
  cursor: default;
}
