body {
  font-family: "PT Mono", monospace;
  background: linear-gradient(
    to top,
    rgb(9, 32, 63) 0%,
    rgb(83, 120, 149) 100%
  );
}

.container {
  display: block;
  margin: 50px auto;
  max-width: 50%;
}

.cityForm {
  margin-bottom: 20px;
}

.btn-button {
  color: white;
  background-color: #607895;
  border: solid;
}

.city {
  font-size: 30px;
  font-weight: bold;
}

.dayAndTime {
  color: #607d8b;
  font-size: 20px;
  margin-bottom: 20px;
}

.icon {
  display: inline;
  margin: 0 auto;
  max-width: 100px;
}

.temperature {
  position: relative;
  top: 20px;
  font-size: 60px;
}

.unit {
  position: relative;
  font-size: 20px;
  top: -5px;
}

a {
  text-decoration: none;
}

.humidityWindSpeed {
  position: relative;
  font-size: 20px;
  top: 10px;
  color: #607d8b;
}

.date {
  color: #607d8b;
  margin-bottom: 10px;
}

.temperatureOutput .active {
  color: #607d8b;
  cursor: default;
}

.forecast {
  margin-top: 70px;
  text-align: center;
  color: #607d8b;
  font-size: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
}

.weatherForecastTempMin {
  opacity: 0.5;
}

footer {
  color: white;
}

.name {
  font-weight: bold;
}

.gitHubLink {
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    margin: 10px auto;
  }
  .weatherForecastElement {
    padding: 10px;
    border: solid;
    border-radius: 10px;
    display: block;
    margin: 5px auto;
  }
  .temperatureOutput {
    text-align: center;
  }
}
